/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 40px 20px;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2em;
  }
  
  /* Product Section styles */
  .container {
    width: 100%;
    margin: 0 auto;
    background-image: url("https://nguyencongpc.vn/media/news/2612_hinh-nen-tet-2025-1.jpg");
  }
  
  #products {
    padding: 50px 0;
    text-align: center;
  }
  
  .product-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .product-item {
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    text-align: center;
  }
  
  .product-item img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .product-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .product-item p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .product-item button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
  }
  
  .product-item button:hover {
    background-color: #218838;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  .banner {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .banner-container {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  .banner-slide {
    min-width: 100%;
    height: 400px;
    background-color: #000;
  }
  
  .banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Optional: Add a transition effect to images */
  .banner-slide img {
    transition: transform 0.5s ease;
  }
 .footer {
    text-align: left;
    font-size: small;
 }
 .marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    padding: 10px 0;
  }
  
  .marquee-content {
    display: inline-block;
    padding-left: 100%; /* Bắt đầu từ ngoài khung */
    animation: marquee 10s linear infinite;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }
  
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .product-list {
      flex-direction: column;
      align-items: center;
    }
    .product-item {
      width: 80%;
      margin-bottom: 20px;
    }
    .banner-slide {
        height: 250px;
      }
  }
  
